<div class="container-fluid ">
  <nav class="navbar navbar-default ">
    <div class="topline"></div>
    <div class="container menu">
      <div class="row nav-tabs nav">
        <div class="col-md-1"><i class="fa fa-gg-circle fa-2x" aria-hidden="true"></i></div>

        <div class="col-md-4"><ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">问答</a></li>
          <li role="presentation"><a href="#">类别</a></li>
          <li role="presentation"><a href="#">分别</a></li>
        </ul>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
          <a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a>
      </div>
      <div class="col-md-2">
          <a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</nav>
</div>
